*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html{
    display: grid;
    min-height: 100%;
    place-items: center;
    background-color: #EFF4f5;
}
.project{
    width: 600px;
    height: 350px;
    box-shadow: 10px 10px 15px rgb(192, 183, 183), -10px -10px 15px rgb(192, 183, 183);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
h1{
    font-size: 3rem;
}

#counter{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.prevBtn, .nextBtn{
    font-size: 1.3rem;
    outline: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    margin: 0 2rem;
}