body{
    background-color: #0087e2;
    color: white;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header, nav, section, footer{
    border: 1px solid white;
    margin-bottom: 10px;
    box-sizing: border-box;
}
header,footer{
    padding: 20px 0;
}
nav, section{
    padding: 200px 0 ;
}
.container{
    width: 960px;
    margin:0 auto;
}
nav, section,footer{
    float: left;
}
nav{
    width: 200px;
    margin-right: 10px;
}
section{
    width: 750px;

}
footer{
    width: 960px;
}